@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes customBounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.custom-bounce {
  animation: customBounce 1s infinite;
}

@layer components {
  .perspective {
    perspective: 1000px;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
